#define DEFAULT 0
#define SYM     1
#define FUN     2
#define MOUSE   3
#define SCROLL  4
#define SNIPE   5

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <zmk-helpers/helper.h>
#include <zmk-helpers/key-labels/glove80.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 57 58 59 60>;
        };

        TD0: TD0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&mt LSHFT W>, <&mkp RCLK>;
        };

        TRMNL: TRMNL {
            compatible = "zmk,behavior-hold-tap";
            label = "TRMNL";
            bindings = <&Open_terminal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58>;
        };

        SCROLL_UP_DOWN: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        SCRS: SCRS {
            compatible = "zmk,behavior-hold-tap";
            label = "SCRS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Screenshot>, <&kp>;
        };

        CLBR: CLBR {
            compatible = "zmk,behavior-hold-tap";
            label = "CLBR";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 58 59 60>;
            bindings = <&Open_C_cal>, <&kp>;
        };

        BRWSR: BRWSR {
            compatible = "zmk,behavior-hold-tap";
            label = "BRWSR";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&Open_E_browser>, <&kp>;
        };

        SH_EM_DASH: SH_EM_DASH {
            compatible = "zmk,behavior-hold-tap";
            label = "SH_EM_DASH";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&kp>, <&em_dash>;
        };

        BCKL: BCKL {
            compatible = "zmk,behavior-hold-tap";
            label = "BCKL";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&bl>, <&kp>;
        };

        BLTH: BLTH {
            compatible = "zmk,behavior-hold-tap";
            label = "BLTH";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&bt>, <&kp>;
        };

        S_SMTHNG: S_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "S_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Open_S_smthng>, <&kp>;
        };

        BLTH_REV: BLTH_REV {
            compatible = "zmk,behavior-hold-tap";
            label = "BLTH_REV";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58>;
            bindings = <&kp>, <&bt>;
        };

        SH_EM_DASH_REV: SH_EM_DASH_REV {
            compatible = "zmk,behavior-hold-tap";
            label = "SH_EM_DASH_REV";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&em_dash>, <&kp>;
        };

        A_SMTHNG: A_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "A_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 57 58 59 60>;
            bindings = <&Open_A_smthng>, <&kp>;
        };

        F_SMTHNG: F_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "F_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 58 59 60>;
            bindings = <&Open_F_smthng>, <&kp>;
        };

        G_SMTHNG: G_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "G_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Open_G_smthng>, <&kp>;
        };

        Z_SMTHNG: Z_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "Z_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&Open_Z_smthng>, <&kp>;
        };

        X_SMTHNG: X_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "X_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Open_X_smthng>, <&kp>;
        };

        V_SMTHNG: V_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "V_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&Open_V_smthng>, <&kp>;
        };

        B_SMTHNG: B_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "B_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 4 5 6 7 8 9 10 11 16 17 18 19 20 21 22 23 28 29 30 31 32 33 34 35 40 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&Open_B_smthng>, <&kp>;
        };

        O_SMTHNG: O_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "O_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Open_O_smthng>, <&kp>;
        };

        N_SMTHNG: N_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "N_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 55 56 57 58 59 60>;
            bindings = <&Open_N_smthng>, <&kp>;
        };

        M_SMTHNG: M_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "M_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&Open_M_smthng>, <&kp>;
        };

        PIPE_OPERATOR: PIPE_OPERATOR {
            compatible = "zmk,behavior-hold-tap";
            label = "PIPE_OPERATOR";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&Pipe_operator>, <&kp>;
        };

        RGB_DBL: RGB_DBL {
            compatible = "zmk,behavior-hold-tap";
            label = "RGB_DBL";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&rgb_ug>, <&rgb_ug>;
        };

        RGB_WHY: RGB_WHY {
            compatible = "zmk,behavior-hold-tap";
            label = "RGB_WHY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 48 49 56 57 58 59 60>;
            bindings = <&rgb_ug>, <&kp>;
        };

        R_SMTHNG: R_SMTHNG {
            compatible = "zmk,behavior-hold-tap";
            label = "R_SMTHNG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&Open_R_smthng>, <&kp>;
        };

        A_ACCTS: A_ACCTS {
            compatible = "zmk,behavior-hold-tap";
            label = "A_ACCTS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&A_circ>, <&A_grave>;
        };

        E_AIGU: E_AIGU {
            compatible = "zmk,behavior-hold-tap";
            label = "E_AIGU";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&E_aigu>, <&kp>;
        };

        E_GRAVE: E_GRAVE {
            compatible = "zmk,behavior-hold-tap";
            label = "E_GRAVE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 36 50 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57 58 5 6 7 8 9 10 11 17 18 19 20 21 22 23 29 30 31 32 33 34 35 41 42 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            bindings = <&E_grave>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Lang_1_EN {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <30 29>;
        };

        Lang_2_KR {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <17 18>;
        };

        Lang_3_HI {
            bindings = <&kp LANGUAGE_3>;
            key-positions = <5 6>;
        };

        System_reset {
            bindings = <&sys_reset>;
            key-positions = <47 48 49>;
        };

        Bootloader_mode {
            bindings = <&bootloader>;
            key-positions = <9 10 11>;
        };

        Power_on {
            bindings = <&ext_power EP_ON>;
            key-positions = <21 22 23>;
        };

        Power_off {
            bindings = <&ext_power EP_OFF>;
            key-positions = <33 34 35>;
        };

        Bluetooth1 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <0 1 2>;
        };

        Bluetooth2 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <12 13 14>;
        };

        Bluetooth3 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <24 25 26>;
        };

        Bluetooth4 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <36 37 38>;
        };

        Bluetooth5 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <50 51 52>;
        };

        Bluetooth_next {
            bindings = <&bt BT_NXT>;
            key-positions = <42 43>;
        };

        Volume_down {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <42 41>;
        };

        Volume_up {
            bindings = <&kp C_VOLUME_DOWN>;
            key-positions = <43 44>;
        };

        Brighness_down {
            bindings = <&kp C_BRIGHTNESS_DEC>;
            key-positions = <42 41 40>;
        };

        Brightness_up {
            bindings = <&kp C_BRIGHTNESS_INC>;
            key-positions = <43 44 45>;
        };

        Backlit_down {
            bindings = <&bl BL_DEC>;
            key-positions = <39 40 41 42>;
        };

        Backlit_up {
            bindings = <&bl BL_INC>;
            key-positions = <43 44 45 46>;
        };

        Backlit_off {
            bindings = <&bl BL_OFF>;
            key-positions = <38 39 40 41 42>;
        };

        Backlit_on {
            bindings = <&bl BL_ON>;
            key-positions = <43 44 45 46 47>;
        };
    };

    macros {
        Open_terminal: Open_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp NUMBER_4>;

            label = "OPEN_TERMINAL";
        };

        Screenshot: Screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_WIN>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_press>,
                <&kp S>;

            label = "SCREENSHOT";
        };

        em_dash: em_dash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(LSHFT)>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LC(LSHFT)>,
                <&macro_tap>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp RET>;

            label = "EM_DASH";
        };

        Open_C_cal: Open_calibre {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp C>;

            label = "OPEN_CALIBRE";
        };

        Open_E_browser: Open_browser {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp E>;

            label = "OPEN_BROWSER";
        };

        Open_S_smthng: Open_something {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp R>;

            label = "OPEN_SOMETHING";
        };

        Open_A_smthng: Open_A_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp A>;

            label = "OPEN_A_SMTHNG";
        };

        Open_F_smthng: Open_F_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp F>;

            label = "OPEN_F_SMTHNG";
        };

        Open_G_smthng: Open_G_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp G>;

            label = "OPEN_G_SMTHNG";
        };

        Open_Z_smthng: Open_Z_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp Z>;

            label = "OPEN_Z_SMTHNG";
        };

        Open_X_smthng: Open_X_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp X>;

            label = "OPEN_X_SMTHNG";
        };

        Open_V_smthng: Open_V_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp V>;

            label = "OPEN_V_SMTHNG";
        };

        Open_B_smthng: Open_B_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp B>;

            label = "OPEN_B_SMTHNG";
        };

        Open_O_smthng: Open_O_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp O>;

            label = "OPEN_O_SMTHNG";
        };

        Open_N_smthng: Open_N_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp N>;

            label = "OPEN_N_SMTHNG";
        };

        Open_M_smthng: Open_M_smthng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp M>;

            label = "OPEN_M_SMTHNG";
        };

        Pipe_operator: Pipe_operator {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp PERCENT>,
                <&macro_tap>,
                <&kp GREATER_THAN>,
                <&macro_tap>,
                <&kp PERCENT>;

            label = "PIPE_OPERATOR";
        };

        Open_R_smthng: Open_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp R>;

            label = "OPEN_R";
        };

        E_aigu: Accent_aigu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&macro_press>, <&kp E>;

            label = "ACCENT_AIGU";
        };

        E_grave: Accent_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&macro_press>, <&kp E>;

            label = "ACCENT_GRAVE";
        };

        A_grave: A_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&macro_press>, <&kp A>;

            label = "A_GRAVE";
        };

        A_circ: A_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&macro_press>, <&kp A>;

            label = "A_CIRC";
        };

        E_circ: E_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&macro_press>, <&kp E>;

            label = "E_CIRC";
        };

        E_trema: E_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&macro_press>, <&kp E>;

            label = "E_TREMA";
        };

        O_trema: O_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&macro_press>, <&kp O>;

            label = "O_TREMA";
        };

        U_trema: U_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&macro_press>, <&kp U>;

            label = "U_TREMA";
        };

        I_trema: I_trema {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&macro_press>, <&kp I>;

            label = "I_TREMA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT not Colemak";
            bindings = <
&E_GRAVE 0 GRAVE     &HML F1 N1     &HML F2 N2        &HML F3 N3       &HML F4 N4     &HML F5 N5                                                              &HML F6 N6               &HML F7 N7            &HML F8 N8         &HML F9 N9          &HML PRINTSCREEN N0      &kp BACKSPACE
&kp TAB              &HML F11 Q     &HML F12 W        &BRWSR 0 E       &R_SMTHNG 0 R  &TRMNL 0 T                                                              &HML MINUS Y             &HML PLUS U           &HML EQUAL I       &O_SMTHNG 0 O       &PIPE_OPERATOR 0 P       &HML C_BACKLIGHT_TOGGLE BACKSLASH
&HML ESCAPE CAPS     &A_SMTHNG 0 A  &HML LS(LG(S)) S  &SH_EM_DASH D 0  &F_SMTHNG 0 F  &G_SMTHNG 0 G                                                           &HML LEFT_BRACKET H      &HML RIGHT_BRACKET J  &HML K LEFT_BRACE  &HML L RIGHT_BRACE  &HML HOME SEMI           &E_AIGU 0 SQT
&kp LEFT_SHIFT       &Z_SMTHNG 0 Z  &X_SMTHNG 0 X     &CLBR 0 C        &V_SMTHNG 0 V  &CLBR 0 B      &HML PAGE_DOWN C_AL_WORD  &HML PAGE_UP C_AL_TEXT_EDITOR  &HML C_AL_SPREADSHEET N  &HML K_WWW M          &N_SMTHNG 0 COMMA  &M_SMTHNG 0 DOT     &HML STAR FSLH           &A_ACCTS 0 0
&SH_EM_DASH TILDE 0  &kp LCTRL      &kp LEFT_ALT      &kp LEFT_WIN     &mo 6          &lt 4 SPACE    &mo 5                     &kp ENTER                      &lt 2 BACKSPACE                                                                       &HML C_PIP K_PLAY_PAUSE  &kp DELETE
            >;

            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        number_layer {
            bindings = <
&trans  &kp N1    &kp N2    &kp N3  &kp N4     &kp N5                  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans    &trans    &trans  &trans     &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans  &trans     &trans  &trans  &trans  &trans                          &trans  &trans
            >;

            label = "NUM";
            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kt TILDE      &kp EXCLAMATION    &kp AT_SIGN         &kp HASH       &kp DOLLAR            &kp PERCENT                     &kp CARET        &kp AMPERSAND    &kp ASTERISK                     &HML MINUS LEFT_PARENTHESIS       &HML PLUS RIGHT_PARENTHESIS        &bl BL_ON
&bt BT_SEL 0   &bt BT_SEL 1       &bt BT_SEL 2        &bt BT_SEL 3   &bt BT_SEL 4          &bt BT_CLR                      &kp MINUS        &kp EQUAL        &kp LEFT_BRACKET                 &kp RIGHT_BRACKET                 &bl BL_TOG                         &bl BL_OFF
&bt BT_DISC 0  &bt BT_DISC 1      &bt BT_DISC 2       &bt BT_DISC 3  &bt BT_DISC 4         &bt BT_CLR_ALL                  &rgb_ug RGB_ON   &rgb_ug RGB_OFF  &rgb_ug RGB_TOG                  &rgb_ug RGB_BRD                   &rgb_ug RGB_BRI                    &bl BL_INC
&kp K_MUTE     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP     &kp C_BRI_DEC  &kp C_BRIGHTNESS_INC  &trans          &trans  &trans  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(53,100,59)  &rgb_ug RGB_COLOR_HSB(222,100,50)  &bl BL_DEC
&TD0           &kp C_REWIND       &kp C_FAST_FORWARD  &trans         &trans                &trans          &trans  &trans  &trans                                                                                               &rgb_ug RGB_COLOR_HSB(102,100,34)  &bl BL_CYCLE
            >;

            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans   &trans   &trans   &trans  &trans  &trans  &trans                          &trans  &trans
            >;

            sensor-bindings = <&SCROLL_UP_DOWN>, <&inc_dec_kp C_FF C_REWIND>;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans        &trans     &trans    &trans  &trans     &trans                  &trans         &trans     &trans  &trans     &trans     &trans
&trans        &trans     &trans    &trans  &trans     &trans                  &trans         &trans     &trans  &trans     &trans     &trans
&kp UP_ARROW  &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT  &trans                  &kp PAGE_UP    &mkp LCLK  &trans  &mkp RCLK  &mkp MCLK  &kp UP_ARROW
&kp DOWN      &trans     &trans    &trans  &trans     &trans  &trans  &trans  &kp PAGE_DOWN  &trans     &trans  &trans     &trans     &kp DOWN
&kp LEFT      &kp RIGHT  &trans    &trans  &trans     &trans  &trans  &trans  &mo 3                                        &kp LEFT   &kp RIGHT
            >;

            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;

            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;

            sensor-bindings =
                <&SCROLL_UP_DOWN>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
